<!doctype html>
<html lang='{{ DEFAULT_LANG }}'>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ SITENAME }}</title>
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oswald:400,700' type='text/css' media='all'>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Merriweather%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic&#038;ver=4.0.1' type='text/css' media='all' />
		<script src="{{ SITEURL }}/theme/js/vendor/modernizr.js" type="text/javascript" charset="utf-8"></script>

        <link rel="alternate" type="application/atom+xml"
            title="{{ SITENAME }} — Flux Atom"
            href="{{ SITEURL }}/{{ FEED }}" /> 

        {% if FEED_RSS %}
        <link rel ="alternate" type="application/rss+xml"
            title="{{ SITENAME }} — Flux RSS"
            href="{{ SITEURL }}/{{ FEED_RSS }}" /> 
        {% endif %}

		<style type="text/css" media="screen">
			#header {
				height: 300px;
				text-align: center;
				background-color: #666;
			}

			#header h1 {
				color: white;
				font-family: 'Oswald', sans-serif;
				text-shadow: 1px 1px 1px black;
				font-size: 5em;
				line-height: 300px;
			}

			div.post-metadata {
				margin-bottom: 23px;
			}

			div.post-content {
				margin-bottom: 60px;
			}

			h1,h2,h3,h4,h5,h6 {
				font-weight: bolder;
			}

			div.post h1 a {
				color: black;
			}

			h1.selection {
				border-bottom: 2px solid black;
			}

			#content {
				font-family: 'Merriweather,Georgia,"Times New Roman",serif';
				font-size: 18px;
			}
		</style>
	</head>

	<body>
		<div id='header' {% if SITE_LOGOS -%}
			data-interchange="{% for size in SITE_LOGOS -%}
				[{{ SITEURL }}/{{ SITE_LOGOS[size] }}, ({{ size }})]{% if not loop.last %}, {% endif %}
			{%- endfor %}"
		{%- endif %}>
			<a href='{{ SITE_URL }}'><h1>{{ SITENAME }}</h1></a>
		</div>

		<div class="sticky">
			<nav class='top-bar' data-topbar role='navigation'>
				<ul class='title-area'>
					<li class='name'>
						<h1><a href='{{ SITEURL }}/'>Home</a></h1>
					</li>
				</ul>

				<section class='top-bar-section'>
					<ul class='left'>
						{% if PAGES %}
						{% for page in PAGES %}
						<li><a href='{{ SITEURL }}/{{ page.url }}'>{{ page.title }}</a></li>
						{% endfor %}
						{% endif %}

						{% if categories %}
						<li class='divider'></li>
						<li class='has-dropdown'>
							<a href='#'>Categories</a>

							<ul class='dropdown'>
								{% for cat, _ in categories %}
								<li><a href='{{ SITEURL }}/{{ cat.url }}'>{{ cat }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
					</ul>

					<ul class='right'>
						{% if LINKS %}
						<li class='has-dropdown'>
							<a href='#'>Blogroll</a>
							<ul class='dropdown'>
								{% for title, url in LINKS %}
								<li><a href='{{ url }}'>{{ title }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}

						{% if SOCIAL %}
						<li class='has-dropdown'>
							<a href='#'>Social</a>
							<ul class='dropdown'>
								{% for title, url in SOCIAL %}
								<li><a href='{{ url }}'>{{ title }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
					</ul>
				</section>
			</nav>
		</div>

		<div class='row' id='content'>
			<div class='small-12 columns'>
				{% block content %}{% endblock content %}
			</div>
		</div>

		{% if DISQUS_SITENAME %}
			{% include "disqus_script.html" ignore missing with context %}
		{% endif %}

		<nav class='top-bar footer' data-topbar role='navigation'>
			<ul class='title-area'>
				<li class='name'>
					<h1>
						<a href='{{ SITEURL }}'>
							{{ SITENAME }}
						</a>
					</h1>
				</li>
			</ul>
			
			<section class='top-bar-section'>
				<ul class='left'>
					<li>
						<a href='http://getpelican.com'>Powered by Pelican</a>
					</li>
					<li>
						<a href='https://bitbucket.org/juliobiason/pelican-fancy-foundation'>
							theme Fancy Foundation.
						</a>
					</li>
				</ul>
			</section>
		</nav>

		{% if GOOGLE_ANALYTICS %}
			<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script');
					ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'htt
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insert
				})();
			</script>
		{% endif %}

		<script src="{{ SITEURL }}/theme/js/vendor/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ SITEURL }}/theme/js/foundation.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).foundation();
		</script>
	</body>
</html>

