{% extends "base_articles.html" %}

{% block content %}
	<h1 class='subheader'>Categories:</h1>

	<ul>
	{% for category, articles in categories %}
		<li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
	{% endfor %}
	</ul>
{% endblock content %}
