{% extends "base.html" %}

{% block content %}
	<h1 class="subheader"><a href="{{ SITEURL }}/{{ page.url }}" title="Permalink to {{ page.title|striptags }}" rel="bookmark">{{ page.title }}</a></h2>
	<div class="entry-content">
		{{ page.content }}
	</div>
{% endblock content %}
