<div class='pagination-center'>
	<ul class='pagination' role='menubar' aria-label='Pagination'>
		{% if articles_page.has_previous() -%}
			<li class='arrow'>
				{% if articles_page.previous_page_number() == 1 %}
					<a href='{{ SITEURL }}/{{ page_name }}.html'>
				{% else %}
					<a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">
				{% endif %}
				&laquo; Newer posts</a>
			</li>
		{%- endif %}

		{% if articles_page.has_next() -%}
			<li class='arrow'>
				<a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html" >
					Older posts &raquo;
				</a>
			</li>
		{% endif %}
	</ul>
</div>
