<div class='post'>
	<h1>
		<a href='{{ SITEURL }}/{{ article.url }}'>
			{{ article.title}}
		</a>
	</h1>

	<div class='post-metadata'>
		<div class='date'>Posted: <span class='label radius'>{{ article.locale_date}}</span></div>
		{% if article.tags %}
		<div class='tags'>Tagged: 
			{% for tag in article.tags|sort %}
				<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag"><span class='label radius'>{{ tag }}</span></a>
			{% endfor %}
		</div>
		{% endif %}
	</div>

	<div class='post-content'>
		{{ article.content }}
	</div>
</div>

