{% extends "base.html" %}

{% block content %}
	<h1 class='subheader'>Tags</h1>

	<ul>
	{% for tag, article in tags %}
		<li><a href='{{ SITEURL }}/{{ tag.url }}'>{{ tag.name }}</a></li>
	{% endfor %}
	</ul>
{% endblock content %}
